<h1>Showing Article Detail</h1>
<h2><strong>Title: </strong><%=@article.title%></h2>
<p><strong>Description: </strong><%=@article.description%></p>

<p>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%=  link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %> |
    <%=  link_to 'Return to articles list', article_path %>
</p>